<h1>Afegeix a un pacient</h1>
<form action="/patient/add/" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
    </div>
    <div>
        <label for="cognom1">Cognom1:</label>
        <input type="text" id="cognom1" name="cognom1" placeholder="Cognom1" required>
    </div>
    <div>
        <label for="cognom2">Cognom2:</label>
        <input type="text" id="cognom2" name="cognom2" placeholder="Cognom2">
    </div>
    <div>
        <label for="edat">Edat:</label>
        <input type="number" id="edat" name="edat" placeholder="Edat" required>
    </div>
    <div>
        <label for="malaltia">Malaltia:</label>
        <input type="text" id="malaltia" name="malaltia" placeholder="Malaltia" required>
    </div>
    <button type="submit">Afegeix</button>
</form>